body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Top-Banner{
  text-align: center;
  background-color: #eee;
}
.video-detail{
  border: 1px solid blue;
  align-content: center;
}
.Image-Slot{
  border:1px solid blue;
  float: inherit;
}

.wrapper {
    display: flex;
    flex-direction: row;
    
}
.image_Slot {
  padding-right: 20%
  }

.banner_text {
  text-align: center;
}

