body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Top-Banner{
  text-align: center;
  background-color: #eee;
}
.video-detail{
  border: 1px solid blue;
  align-content: center;
}
.Image-Slot{
  border:1px solid blue;
  float: inherit;
}

#wrapper {
    width: 100%;
    border: 1px solid black;
}
#first {
    width: 30%;
    float:left;
    border: 1px solid red;
}
#second {
    border: 1px solid green;
    float: left;
}
